---
title: Vergleichen von Auslastungstestergebnissen
description: Lernen Sie, Excel-Auslastungstestberichte zu generieren, die auf zwei oder mehr Testergebnissen basieren, einschließlich Ausführen von Vergleichsberichten und Trendberichten.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.openlocfilehash: a01d82b5b6e2e703ffa7c1f722e22440f0f3e24d
ms.sourcegitcommit: ae6d47b09a439cd0e13180f5e89510e3e347fd47
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 02/08/2021
ms.locfileid: "99868139"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Erstellen von Berichten zu Auslastungstestergebnissen für Testvergleiche oder die Trendanalyse

Sie können Microsoft Excel-Auslastungstestberichte generieren, die auf zwei oder mehr Testergebnissen basieren.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Zwei Typen von Auslastungstestberichten sind verfügbar:

- Vergleich ausführen&mdash;: Bei diesem Bericht handelt es sich eigentlich um zwei Berichte, mit denen anhand von Tabellen und Balkendiagrammen Vergleichsdaten nebeneinander angezeigt werden.

- Trend&mdash;: Eine Trendanalyse kann für zwei oder mehr Berichte generiert werden. Die Ergebnisse werden in Form von Liniendiagrammen dargestellt.

Beide Berichte können verwendet werden, um Leistungsdaten für Projektbeteiligte freizugeben, und liefern Informationen dazu, ob die Gesamtleistung und Integrität des Systems besser oder schlechter wird.

Berichtsdefinitionen werden in der Auslastungstestdatenbank gespeichert. Wenn ein Bericht gespeichert wird, wird die Definition für den Bericht in der Datenbank gespeichert und kann später wiederverwendet werden.

Zudem kann das Arbeitsblatt für Projektbeteiligte freigegeben werden, damit diese zum Anzeigen des Berichts keine Verbindung mit der Datenbank herstellen müssen.

> [!NOTE]
> Wenn Sie einem Auslastungstest Kommentare hinzufügen, werden sie im Excel-Bericht angezeigt.

## <a name="tasks"></a>Aufgaben

|Aufgaben|Verwandte Themen|
|-|-|
|**Erstellen eines Leistungs- und Belastungsberichts:** Sie können mit Microsoft Excel Berichte für die Auslastungs- und Webleistungstests erstellen.|- [Vorgehensweise: Erstellen von Leistungsberichten für Auslastungstests mit Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Manuelles Erstellen eines Leistungs- und Belastungsberichts mithilfe von Microsoft Word:** Sie können manuell Berichte für Auslastungs- und Webleistungstests erstellen, indem Sie die Zusammenfassung, die Tabelle und Diagrammdaten kopieren und in ein Microsoft Word-Dokument einfügen.|- [Vorgehensweise: Manuelles Erstellen von Leistungsberichten für Auslastungstests mit Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Siehe auch

- [Analysieren von Auslastungstestergebnissen](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
