---
title: 'Gewusst wie: Erstellen von benutzerdefinierten Diagrammen in Auslastungstestergebnissen'
description: Lernen Sie, Diagramme zu entwerfen, in denen bestimmte Informationen zu Auslastungstestergebnissen entweder während der Ausführung eines Auslastungstests oder nach seinem Abschluss angezeigt werden.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jmartens
ms.openlocfilehash: bcef8b73eaf4709e8e636d4719784606019bdcbf
ms.sourcegitcommit: ae6d47b09a439cd0e13180f5e89510e3e347fd47
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 02/08/2021
ms.locfileid: "99937588"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Vorgehensweise: Erstellen von benutzerdefinierten Diagrammen in Auslastungstestergebnissen

Sie können Diagramme entwerfen, in denen bestimmte Informationen zu Auslastungstestergebnissen angezeigt werden. Sie entwerfen ein benutzerdefiniertes Diagramm, indem Sie die Auslastungstestindikatoren angeben, die im Diagramm angezeigt werden.

Das folgende Verfahren kann ausgeführt werden, während ein Auslastungstest aktiv ist oder nachdem er beendet wurde.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>So erstellen Sie ein benutzerdefiniertes Diagramm für Auslastungstestergebnisse

1. Klicken Sie in der **Auslastungstest**-Symbolleiste auf die Option **Neues Diagramm hinzufügen**.

     \- oder -

     Klicken Sie im **Auslastungstest-Analyzer** mit der rechten Maustaste in das Panel **Indikator** oder in ein Diagramm, und klicken Sie auf **Diagramm hinzufügen**.

     Das Dialogfeld **Diagrammnamen eingeben** wird angezeigt.

2. Geben Sie unter **Diagrammname** einen Namen für das Diagramm ein, und klicken Sie auf **OK**.

     Das neue Diagramm wird im **Auslastungstest-Analyzer** angezeigt. Das Diagramm wird im aktuell ausgewählten Diagrammbereich angezeigt und ersetzt das in diesem Bereich angezeigte Diagramm.

3. Passen Sie das neue Diagramm an, indem Sie Indikatoren hinzufügen. Weitere Informationen finden Sie unter [Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Diagrammen](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Weitere Informationen

- [Analyze Load Test Results in the Graphs View (Analysieren von Auslastungstestergebnissen in der Diagrammansicht)](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Diagrammen](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
